{% extends '::base.html.twig' %}

{% trans_default_domain 'UserBundle' %}

{% block title %}Espace membre{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% block fos_user_content %}{% endblock %}
{% endblock %}