{% extends '::base.html.twig' %}

{% block title %}Vos articles {{ parent() }}{% endblock %}
{% block body %}
    <div class="pagination-content">
        {{ knp_pagination_render(pagination) }}
    </div>
    <div id="preview-content">
        {% for article in pagination %}
            {{ article.title }}
        {% else %}
            Aucun article disponible.
        {% endfor %}
    </div>
{% endblock %}