{% extends '::base.html.twig' %}
{% block body -%}

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">Modifier la catégorie :</div>
            <div class="panel-body">
                <h2>{{ form_errors(form) }}</h2>
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}