body {
    background-color: #EEEEEE;
    color: black;
}

textarea, textarea.form-control, input.form-control, input[type=text], input[type=password], input[type=email], input[type=number], [type=text].form-control, [type=password].form-control, [type=email].form-control, [type=tel].form-control, [contenteditable].form-control {
    padding-left: 5px;
    padding-right: 5px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
a:link{
    text-decoration: none;
}
.navbar-inverse{
    background-color: #141414;
}
.navbar-nav > li > .dropdown-menu
{
    margin: 0px!important;
    background-color: #141414;
}
.dropdown-menu > li > a{
    color: #2098d1;
}
.dropdown-menu > li > a:hover{
    color: #ffffff;
    background-color:#2098d1;
}
/****** HOME PAGE ******/

/* SECTION ONE */
#home_title {
    font-weight: bold;
    margin-bottom: 150px;
    color: white;
}
.home{
    margin-left: 5%;
}
#home_img{
    border-radius: 5px;
}

.home_link {
    font-size: 18px;
    color: #ffffff;
    padding-left: 80px;
    padding-top: 8px;
    width: 250px;
    height: 50px;
    border-radius: 3px;
    border: 1px solid #ffffff;
    margin-top: 20px;
}
.home_link:hover
{
    border: none!important;
}
.home_text
{
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 35px;
    margin-top: inherit!important;
    color: #ffffff;
}
.home_section_one{
    background-image: url("../img/home.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
#home_login_bloc{

    margin-bottom: 85px;
}
.container-fluid{
    padding: 0px!important;
}
/* FIN SECTION ONE */

/* SECTION TWO */
#home_stats_title{
    color: black;
    font: bold;
    text-align: center!important;
}

/* FIN SECTION TWO */

/* SECTION THREE */
#home_project_title{
    color: black;
    font: bold;
    text-align: center!important;
}
#myCarousel{
    height: 650px;
}

/* FIN SECTION THREE */

/* FOOTER */
#footer{
    background-color: #141414;
    color: #ffffff;
}
#footer_title{
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
}
#footer_bloc_link{
    margin-bottom: 50px;
}
#copy{
    text-align: center;
    margin-bottom: 60px;
}
/* FIN FOOTER */

/* NAVBAR */
.lien_nav{
    color: #2098d1;
}
.nav_profile_picture{
    width: 16%;
    border-radius: 45%;
    margin: 0px 4px 0px 4px;
}
.nav_drop_link
{
    margin-left: 25px;
}
/* FIN NAVBAR */

/****** FIN HOME PAGE ******/

/****** PROFILE SHOW ******/
.profile_info{
    background-color: #000000;
    color: #2098d1;
    border-radius: 10px;
}
.profile_title{
    text-align: left!important;
    margin-left: 9%;
    margin-bottom: 50px;
}
.profile_img_profile
{
    border-radius: 50%;
    border: 9px solid #181818;
    margin-left: -125px;
}
.profile_text{
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: -25px;
}
.profile_link {
    font-size: 10px;
    color: #ffffff;
    padding-top: 8px;
    width: 150px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #ffffff;
    margin-top: 20px;
}
.profile_link:hover
{
    border: none!important;
}
.form-delete{
    margin-top: 30px;
}
.profile_details
{
    margin-left: -115px;
}
.profile_blog_bloc
{
    background-color: #0d87e9;
    border-radius: 5px;
    margin-left: 5%;
    margin-bottom:1%;
}
.profile_blog_bloc:hover{
    background-color: rgba(32,152,209, 0.7);
}
#profile_blog_bloc_title
{
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}
#profile_blog_bloc_description{
    font-size: 15px;
    color: white;
}
#profile_blog_bloc_footer{
    margin-bottom: 20px;
}
/****** FIN PROFILE SHOW ******/

/****** PROFILE FORM ******/
.panel-default > .panel-heading{
    color: #2098d1;
    background-color: #212121;
}
/****** FIN PROFILE FORM ******/
.footer{
    background-color: #141414;
    color: #ffffff;
}

/* FOOTER */


/****** FIN HOME PAGE ******/


