{% extends '::base.html.twig' %}
{% block body -%}
        <div class="panel panel-default">
            <div class="panel-heading">Nouveau commentaire :</div>
            <div class="panel-body">
                <h2>{{ form_errors(form) }}</h2>
                {{ form(form, {action: path('show_blog_create_comment', {subdomain: article.blog.slug, article_id: article.id})}) }}
            </div>
        </div>
{% endblock %}