{% extends '::base_blog.html.twig' %}
{% block body -%}
    <!-- Modal -->
    {#<div class="modal fade" id="modal-create-category" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">#}
        {#<div class="modal-dialog modal-lg" role="document">#}
            {#<div class="modal-content">#}
                {#<div class="modal-header">#}
                    {#<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
                    {#<h4 class="modal-title" id="myModalLabel">Nouvelle catégorie</h4>#}
                {#</div>#}
                {#<div class="modal-body">#}
                    {#{% if blog.categories|length < 10 %}#}
                        {#{{ form(form_create_category, {"action": path('administrate_blog_create_category', {blog_id: blog.id})}) }}#}
                    {#{% else %}#}
                        {#<h3 class="text-danger">Vous avez créés toutes les catégories possible pour ce blog</h3>#}
                        {#<p>#}
                            {#Vous êtes limité à 10 catégories maximum par blog. Vous pouvez toujours modifier ou supprimer les catégories que vous souhaitez. Tous vos articles seront impactés.#}
                        {#</p>#}
                        {#<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-create-article">#}
                            {#Créer un article#}
                        {#</button>#}
                    {#{% endif %}#}
                {#</div>#}
                {#<div class="modal-footer">#}
                    {#<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    <section class="row">
        <header class="container">
            <h1>{{ blog.name }}</h1>
            {%  if app.user is defined and app.user == blog.author %}
                <a href="{{ path('administrate_blog', {blog_id: blog.id}) }}">Administrer</a>
            {% endif %}
            {{ app.user.username }}
            <hr/>
        </header>
        <aside class="container">
            <h4>
                Les articles<br>
                <em>{{ blog.articles|length }} articles</em>
            </h4>
            <div id="blog_view">
                {% for article in blog.articles %}
                <div class="container">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="{{ path("show_blog_article", {article_id: article.id, subdomain: blog.slug}) }}"><strong>{{ article.title }}: </strong></a>
                            <p>
                                Créer le :{{ article.createdAt|date('d/m/Y H:i') }}
                                Mis à jour le :{{ article.updatedAt|date('d/m/Y H:i') }}
                            </p>
                        </div>
                        <div class="panel-body">
                            {{ article.content|raw }}
                        </div>
                    </div>
                </div>
                    <hr/>
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center text-danger">Aucun article.</td>
                    </tr>
                {% endfor %}
            </div>
        </aside>
    </section>
{% endblock %}