{% extends '::base_blog.html.twig' %}
{% block body -%}
    <!-- Modal -->
    <div class="modal fade" id="modal-create-comment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Nouveau commentaire</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">Création d'un commentaire</div>
                        <div class="panel-body">
                            {{ form(form_create_comment, {"action": path('show_blog_create_comment', {subdomain: article.blog.slug, article_id: article.id})}) }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p>Article :{{ article.name|raw }}</p>
            </div>
            <div class="panel-body">
                {{ article.content|raw }}
                <hr/>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p>Tous les commentaires :</p>
                    </div>
                    <div class="panel-body">
                        {% for comment in article.comments %}
                            <h4>Par {{ comment.author.username }}</h4>
                            <p>{{ comment.content }}</p><hr>
                        {% else %}
                            <p>Aucun commentaire pour cet article</p>
                        {% endfor %}
                        {% if app.user is defined %}
                            <button class="btn btn-primary" data-toggle="modal" data-target="#modal-create-comment">Créer un commentaire</button><br>
                        {% else %}
                            Inscrivez vous ou connectez vous pour pouvoir laisser votre commentaire.<br>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}