<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Bienvenue !{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
    {% endblock %}
</head>
<body>
<div class="navbar navbar-inverse nav">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('fos_user_profile_show') }}">
                <img src="{{ asset('img/logo.png') }}"  alt="Blog-creator"/>
            </a>
        </div>
        <div class="navbar-collapse collapse move-me">
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li>
                        <a href="#" class="lien_nav"></a>
                    </li>
                    <li class="dropdown nav_drop">
                        <a href="#" class="dropdown-toggle lien_nav" data-toggle="dropdown" role="button" aria-expanded="false">{{ app.user.username }}<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li ><a href="{{ path('fos_user_profile_show') }}" class="glyphicon glyphicon-user"><span class="nav_drop_link">Mon profil</span></a></li>
                            <li ><a href="{{ path('fos_user_profile_edit') }}" class="glyphicon glyphicon-edit"><span class="nav_drop_link">Modifier mon profil</span></a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% include 'flash.html.twig' %}
<div class="container-fluid">
    {% block body %}{% endblock %}
</div>
{{ tinymce_init() }}
{% block javascripts %}
    <script src="{{ asset('js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/scripts.js') }}" type="text/javascript"></script>
{% endblock %}
</body>
</html>
