{% for label, flashes in app.session.flashbag.all %}
    {% if label == 'error' %}
        {% set class = 'danger' %}
    {% elseif label == 'notice'  %}
        {% set class = 'success' %}
    {% else  %}
        {% set class = 'warning' %}
    {% endif %}
    {% for flash in flashes %}
        <div class="alert alert-{{ class }}">
            {{ flash }}
        </div>
    {% endfor %}
{% endfor %}