{% extends "CocoUserBundle::layout.html.twig" %}

{% trans_default_domain 'UserBundle' %}

{% block fos_user_content %}
    <div class="container">
    {{ form(form) }}
    </div>
{% endblock fos_user_content %}