{% extends "CocoUserBundle::layout.html.twig" %}

{% trans_default_domain 'UserBundle' %}

{% block fos_user_content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">Inscription :</div>
            <div class="panel-body">
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                    <div class="form-group">
                        <label for="username">{{ 'security.login.username'|trans }}</label>
                        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}"
                               required="required"/>
                    </div>
                    <div class="form-group">
                        <label for="password">{{ 'security.login.password'|trans }}</label>
                        <input type="password" class="form-control" id="password" name="_password" required="required"/>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" id="_submit" name="_submit"
                               value="{{ 'security.login.submit'|trans }}"/>
                        <a href="{{ path('fos_user_resetting_request') }}"
                           class="btn btn-warning">{{ 'coco.login.forget_pass'|trans }}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
