{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        <div class="form-group">
            {% if invalid_username is defined %}
                <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
            {% endif %}
            <div class="form-group">
                <label for="username">{{ 'resetting.request.username'|trans }}</label>
                <input type="text" class="form-control" id="username" name="username" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="{{ 'resetting.request.submit'|trans }}"/>
        </div>
    </form>
</div>