{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST"
          class="fos_user_resetting_reset">
        {{ form_widget(form) }}
        <div>
            <input type="submit" class="btn btn-primary" value="{{ 'resetting.reset.submit'|trans }}"/>
        </div>
    </form>
</div>
