{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
    <nav class="nav-pagination">
        <ul class="pagination">
            {% if first is defined and current != first %}
                <li aria-label="First">
                    <a href="{{ path(route, query|merge({(pageParameterName): first})) }}">&lt;&lt;</a>
                </li>
            {% endif %}

            {% if previous is defined %}
                <li aria-label="Previous">
                    <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&lt;</a>
                </li>
            {% endif %}

            {% for page in pagesInRange %}
                {% if page != current %}
                    <li>
                        <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="active"><a href="{{ path(route) }}">{{ page }}</a></li>
                {% endif %}

            {% endfor %}

            {% if next is defined %}
                <li aria-label="Next">
                    <a href="{{ path(route, query|merge({(pageParameterName): next})) }}">&gt;</a>
                </li>
            {% endif %}

            {% if last is defined and current != last %}
                <li aria-label="Last">
                    <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">&gt;&gt;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
