{% trans_default_domain 'UserBundle' %}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Edition de votre profil :</div>
        <div class="panel-body">
            <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST"
                  class="fos_user_profile_edit">
                {{ form_widget(form) }}
                <div>
                    <input class="btn btn-primary" type="submit" value="{{ 'profile.edit.submit'|trans }}"/>
                </div>
            </form>
        </div>
    </div>
</div>


