{% trans_default_domain 'UserBundle' %}
<!-- Modal -->
<div class="modal fade" id="modal-create-blog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-heading">Nouveau blog :</div>
                    <div class="panel-body">
                        {{ form(form_create_blog, {"action": path('create_blog')}) }}
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<div class=" row fos_user_user_show">
        <h2 class="profile_title">Bienvenue {{ user.username }} !</h2>
    <section class="profile_info col-md-3 col-md-push-1">
        <div class="col-md-6">
            {% if user.image is defined %}
                <img class="img img-responsive profile_img_profile" src="{{ asset(user.getWebPath) }}" alt="Image du profil" title="Image du profil">
            {% else %}
                <img class="img img-responsive profile_img_profile" src="{{ asset("img/default.png") }}" alt="Image du profil" title="Image du profil">
            {% endif %}
        </div>
        <aside>
            <div class="col-md-6 profile_details">
                <p class="profile_text"><strong >{{ user.username }}</strong></p><br>
                <p class="profile_text"><strong >{{ user.email }}</strong></p><br>
                <a class="btn btn-xs profile_link hvr-fade" href="{{ path('fos_user_profile_edit') }}">Editer</a><br/>
                <a class="btn btn-xs profile_link hvr-fade" href="{{ path('fos_user_change_password') }}">{{ 'coco.profile.change_pass'|trans }}</a><br/>
                {{ form_start(formDelete, {attr: {class: 'form-delete'}}) }}
                {{ form_errors(formDelete) }}
                {{ form_row(formDelete.submit) }}
                {{ form_end(formDelete) }}
            </div>
        </aside>
    </section>
</div>
<div class="row">
    <h2 class="profile_title">Liste des blogs</h2>
    <button type="button" class="btn btn-primary btn-lg profile_title" data-toggle="modal" data-target="#modal-create-blog">
        Créer un blog
    </button>
</div>

<div class="row profile_blog_list">

    {% for blog in user.blogs %}
        <section class="col-md-3 profile_blog_bloc">
            <header>
                <h3 id="profile_blog_bloc_title">{{ blog.name }}</h3>
            </header>
            <aside>
                <p id="profile_blog_bloc_description"><strong>Description :</strong>{{ blog.description }}</p>
            </aside>
            <footer id="profile_blog_bloc_footer">
                <a href="{{ path('administrate_blog', {'blog_id': blog.id}) }}" class="btn btn-default">Administrer</a> -
                <a href="{{ path('administrate_delete_blog', {'blog_id': blog.id}) }}" class="btn btn-danger">Supprimer</a>
            </footer>
        </section>
    {% endfor %}
</div>

