{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Modification de votre mot de passe :</div>
        <div class="panel-body">
            <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
                {{ form_widget(form) }}
                <div>
                    <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>