{% extends '::base.html.twig' %}
{% block body -%}
    <section class="row">
        <section class="row home_section_one">
            <div class="col-md-4 home">
                <h1 id="home_title">Bienvenue sur Blog-creator !</h1>
                <hr/>
                <div class="row" id="home_login_bloc">
                        <p class="home_text">Un outil puissant qui vas vous permettre en toute simplicité de créer et partagez vos blogs !</p>
                        <p class="home_text">N'attendez plus, rejoignez nous !</p>
                    <hr/>
                        <div class="col-md-6">
                            <a href="{{ path('fos_user_security_login') }}" class="home_link hvr-fade">Connexion</a>
                        </div>
                        <div class="col-md-6">
                            <a href="{{ path('fos_user_registration_register') }}" class="home_link hvr-fade">Inscription</a>
                        </div>
                    </div>
                </div>
        </section>
        <footer class="row" id="footer">
            <div class="container" id="footer_bloc_link">
                <div class="col-md-4">
                    <h3 id="footer_title">PLAN DU SITE</h3>
                    <a href="/">Acceuil</a>
                </div>
                <div class="col-md-4">
                    <h3 id="footer_title">UTILISATEURS</h3>
                    <a href="{{ path('fos_user_security_login') }}">Connexion</a><br/>
                    <a href="{{ path('fos_user_registration_register') }}">Inscription</a>
                </div>
            </div>
            <div class="container">
                <hr/>
                <p id="copy">© Blog-creator 2015</p>
            </div>
        </footer>

{% endblock %}