{% extends '::base.html.twig' %}
{% block body -%}
    <!-- Modal -->
    <div class="modal fade" id="modal-create-article" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Nouveau blog</h4>
                </div>
                <div class="modal-body">
                        <div class="panel panel-default">
                            <div class="panel-heading">Edition de votre profil :</div>
                            <div class="panel-body">
                                {% if blog.categories|length > 0 %}
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-create-category">
                                        Créer une nouvelle catégorie avant
                                    </button>
                                    <hr>
                                    {{ form(form_create_article, {"action": path('administrate_blog_create_article', {blog_id: blog.id})}) }}
                                {% else %}
                                    <h3 class="text-danger">Vous n'avez créé aucune catégorie pour votre blog.</h3>
                                    <p>
                                        Afin de pouvoir créer un article, vous devez avoir au moins une catégorie.<br>
                                        Chaque catégorie représente un menu de votre site. Ce sont ces catégories qui agenceront votre blog.
                                    </p>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-create-category">
                                        Créer une catégorie
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modal-create-category" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Nouvelle catégorie</h4>
                </div>
                <div class="modal-body">
                        <div class="panel panel-default">
                            <div class="panel-heading">Nouvelle catégorie :</div>
                            <div class="panel-body">
                                {% if blog.categories|length < 10 %}
                                    {{ form(form_create_category, {"action": path('administrate_blog_create_category', {blog_id: blog.id})}) }}
                                {% else %}
                                    <h3 class="text-danger">Vous avez créés toutes les catégories possible pour ce blog</h3>
                                    <p>
                                        Vous êtes limité à 10 catégories maximum par blog. Vous pouvez toujours modifier ou supprimer les catégories que vous souhaitez. Tous vos articles seront impactés.
                                    </p>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-create-article">
                                        Créer un article
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <section class="row">
        <header>
            <h1><a href="http://{{ blog.slug }}.blog-creator.prod" target="_blank">{{ blog.name }}</a></h1>
            <hr/>
        </header>
        <aside class="col-md-12">
            <h4>
                Vos derniers articles<br>
                <em>{{ blog.articles|length }} articles pour ce blog</em>
            </h4>
            <table class="table table-bordered table-responsive">
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Catégorie</th>
                    <th>Création</th>
                    <th>Modification</th>
                    <th>Url</th>
                    <th>Action</th>
                </tr>
                {% for article in blog.articles %}
                    <tr>
                        <td>{{ article.id }}</td>
                        <td>{{ article.title }}</td>
                        <td>{{ article.category.name }}</td>
                        <td>{{ article.createdAt|date('d/m/Y H:i') }}</td>
                        <td>{{ article.updatedAt|date('d/m/Y H:i') }}</td>
                        <td><a href="http:{{ path('show_blog_article', {subdomain: blog.slug, article_id: article.id}) }}" target="_blank">Voir</a></td>
                        <td colspan="2">
                            <a href="{{ path('administrate_blog_update_article', {blog_id: blog.id, article_id: article.id}) }}" class="btn btn-sm btn-primary">Modifier</a>
                            <a href="{{ path('administrate_blog_delete_article', {blog_id: blog.id, article_id: article.id}) }}" class="btn btn-sm btn-danger">Supprimer</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center text-danger">Aucun article.</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="3" class="text-center">
                        <a href="{{ path('administrate_blog_list_article', {blog_id: blog.id, page: 1}) }}" class="btn btn-default">
                            Voir tous les articles
                        </a>
                    </td>
                    <td colspan="3" class="text-center">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-create-article">
                            Créer un article
                        </button>
                    </td>
                </tr>
            </table>
        </aside>
        <aside class="col-md-12">
            <h4>
                Vos catégories<br>
                <em>{{ blog.categories|length }}/10 maximum par blog</em>
            </h4>
            <table class="table table-bordered table-responsive">
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Action</th>
                </tr>
                {% for category in blog.categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td>
                            <a href="{{ path('administrate_blog_update_category', {blog_id: blog.id, category_id: category.id}) }}" class="btn btn-sm btn-primary">Modifier</a>
                            <a href="{{ path('administrate_blog_delete_category', {blog_id: blog.id, category_id: category.id}) }}" class="btn btn-sm btn-danger">Supprimer</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3" class="text-center text-danger">Aucune catégorie.</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="4" class="text-center">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-create-category">
                            Créer une catégorie
                        </button>
                    </td>
                </tr>
            </table>
        </aside>
        <aside class="col-md-12">
            <h4>Les derniers commentaires</h4>
            <table class="table table-bordered table-responsive">
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Url</th>
                    <th>Action</th>
                </tr>
                {% for comment in last_comments %}
                <tr>
                    <td>{{ comment.id }}</td>
                    <td>{{ comment.title }}</td>
                    <td>
                        <a href="" class="btn btn-sm btn-danger">Supprimer</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4" class="text-center text-danger">Aucun commentaire.</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="4" class="text-center"><a href="" class="btn btn-default">Voir tous les commentaires</a></td>
                </tr>
            </table>
        </aside>
    </section>
{% endblock %}