{% extends '::base.html.twig' %}
{% block body -%}

        <div class="panel panel-default">
            <div class="panel-heading">Nouveau blog :</div>
            <div class="panel-body">
                <h2>{{ form_errors(form) }}</h2>
                {{ form(form) }}
            </div>
        </div>
{% endblock %}