{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Inscription :</div>
        <div class="panel-body">
            <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST"
                  class="fos_user_registration_register">
                {{ form_widget(form) }}
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans }}"/>
                </div>
            </form>
        </div>
    </div>
</div>